{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'souvenir/styles.css' %}">
<div class="container">
<div class="row">
<div class="col align-self-center">
<h2>Login</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  {{ form.field.as_hidden }}
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<form action="{% url 'password_reset' %}" method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Reset Password</button>
</form>
</div>
</div>
</div>
{% endblock %}
