body, html {
    height: 100%;
}


.align-self-center {
        text-align: center;
        padding: 30px;
}

.form-box {
        display:flex;
        justify-content:center;
        padding:20px;
}

.btn-primary, .btn-secondary {
        margin: 5px;
        box-shadow: 0 8px 8px -6px black;
}

.col-sm-8 {
	max-width: 400px;
	border: 2px solid blue;
	margin: 0 auto;
}

#create {
    position: fixed;
    bottom: 60px;
    right: 60px; 
}

#create {
    	position: fixed;
	bottom: 90px;
	right: 60px;
}

#start-over {
	position: fixed;
	bottom: 90px;
	right: 150px;
}

.results {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results ul {
    columns: 2;
    list-style: none;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.results article {
    border: 2px solid #007bff;
    justify-content: center;
}

.results article .map{
    border-top: 2px solid #007bff;
    border-bottom: 2px solid #007bff;
}

.results article .col-sm{
    text-align: right;
}
.results article .col-md{
    text-align: left;
}
.results li {

    border-radius: 1%;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
