{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="row">
   <div class="col-md-12">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'result' user.id %}">View Trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'write_review' user.id %}">Review</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'home' %}">Souvenir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>   
</div>
</div>

{% load static %}
<link rel="stylesheet" href="{% static 'souvenir/home.css' %}">
<link rel="" href="">
<div class="container" style="margin-top: 60px;">
 <div class="row">
   <div class="col align-self-center">
     <h1 style="text-align: center;">Hey {{ user.username }}! Where to?</h1>
     <form class="search">
       <div class="input-group input-group-lg">
        {% csrf_token %}
         <input id="search-bar" type="search" name="usr_query" value="{{ query }}" class="form-control" placeholder="Where do you want to go?" aria-label="Destination" aria-describedby="basic-addon2">
         <button id="search-btn" class="btn btn-outline-primary" type="submit">Search</button>
        </div>
     </form>
   </div>
 </div>
</div>

<div class="container">
<div class="row">
  <div class="col align-self-center">
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">EAT</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">PLAY</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">STAY</button>
  </div>
</div>
</div>


<div>
  <form action="{% url 'home' %}" method="get">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" id="start-over">Start Over</button>
  </form>
</div>
<div>
  <form action="{% url 'result' user.id %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" id="create">Create</button>
  </form>
</div>

<div class="results"></div>

<script>
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">

console.log('yo');
$(document).ready(function() {
  $('#search-btn').on('click', function(event){
   let city = ($('#search-bar').val());
   event.preventDefault();
   $.ajax({
      type: 'GET',
      url: 'http://localhost:8000/souvenirapp/api/' + city + '/1/places',
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
        console.log(data);
        let html = '<ul>';
        for (let i = 0; i < data.length; ++i){
           html += '<li>' + data[i].text + '</li>';
        }
        html += '</ul>';
        $('.results').append(html);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
    });
});
</script>


{% else %}
{% load static %}
<link rel="stylesheet" href="{% static 'souvenir/styles.css' %}">
<div class="container">
<div class="row">
  <div class="col align-self-center">
  <h1> Welcome to Souvenir </h1>
  <div class="form-box">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary">Signup</button>
    </form>
   </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}
