{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome {{ user.username }}
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Souvenir</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_itinerary' user.id %}">Create <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'result' user.id %}">View Trips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'write_review' user.id %}">Review</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'write_review' user.id %}">Review</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<form class="search">
  <div class="input-group input-group-lg">
    {% csrf_token %}
    <input type="search" name="usr_query" value="{{ query }}" class="form-control" placeholder="Where do you want to go?" aria-label="De\
stination" aria-describedby="basic-addon2">
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </div>
</form>
<div>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">EAT</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">PLAY</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">STAY</button>
</div>
<div>
  <button type="button" class="btn btn-danger">Start Over</button>
</div>

<form action="{% url 'result' user.id %}" method="post">
  <div class="input-group input-group-lg">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg">Create</button>
  </div>
</form>

{% else %}
  <h1> Welcome to Souvenir </h1>
  <p> Please Sign in <p>
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <form action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">Signup</button>
  </form>
{% endif %}
{% endblock %}
