{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/script.js' %}"></script>
<div class="row">
   <div class="col-md-12">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'result' user.id %}">View Trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'write_review' user.id %}">Review</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'home' %}">Souvenir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>   
</div>
</div>

<div class="container" style="margin-top: 60px;">
 <div class="row">
   <div class="col align-self-center">
     <h1 style="text-align: center;">Hey {{ user.username }}! Where to?</h1>
     <form class="search" action="{% url 'search' user.id %}" method="POST">
       <div class="input-group input-group-lg">
        {% csrf_token %}
         <input id="search-bar" type="search" name="usr_query" value="{{ query }}" class="form-control" placeholder="Where do you want to go?" aria-label="Destination" aria-describedby="basic-addon2">
         <button id="search-btn" class="btn btn-outline-primary" type="submit">Search</button>
        </div>
     </form>
   </div>
 </div>
</div>

<div class="container">
<div class="row">
  <div class="col align-self-center">
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">EAT</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">PLAY</button>
  <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">STAY</button>
  </div>
</div>
</div>


<div>
  <form action="{% url 'home' %}" method="get">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Start Over</button>
  </form>
</div>
<div>
  
  <!--<form action="{% url 'result' user.id %}" method="post">
    {% csrf_token %}-->
    <button id="cr" user_id="{{ user.id }}"
	    class="btn btn-primary">Create</button>
  <!--</form>-->
</div>
<div class="results container-fluid"> 
  {% for obj in result %}
  {% if forloop.first %}<div class="row"> {% endif %}
    <article place_id="{{obj.1.id}}" rev_id="{{ obj.0.id }}"
	     user_id="{{ obj.2.id}}" class="column-xs-4">
      <h1>{{ obj.1.name }}</h1>
      <img class="img-fluid" src="http://www.endlessicons.com/wp-content/uploads/2012/11/image-holder-icon-614x460.png">
      <p>{{ obj.0.text }} </p>
      <p>Reccommended by: {{ obj.2.username}}</p>
      <button type="submit" class="btn btn-primary a">add</button>
    </article>
    {% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
  {% endfor %}
  {% else %}
</div>

<link rel="stylesheet" href="{% static 'souvenir/styles.css' %}">
<div class="container">
<div class="row">
  <div class="col align-self-center">
  <h1> Welcome to Souvenir </h1>
  <div class="form-box">
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary">Signup</button>
    </form>
   </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}
