{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'souvenir/home.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="row">
   <div class="col-md-12">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="{% url 'friends' user.id %}">Friends</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" href="{% url 'trip' user.id %}">View Trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'write_review' user.id %}">Review</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'home' %}"><i class="fas fa-plane-departure"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>   
</div>
</div>

<div class="container" style="margin-top: 60px;">
 <div class="row">
   <div class="col align-self-center">
     <h1 style="text-align: center;">Looking for more inspiration {{ user.first_name }}...</h1>
     <form class="search ui-widget">
       <div class="input-group input-group-lg">
         {% csrf_token %}
	 <input id="friends-search-bar" user_id="{{ user.id }}" type="search" name="usr_query" value="{{ query }}" class="form-control" placeholder="enter a username or last name of who you are looking for..." aria-label="Friends" aria-describedby="basic-addon2"
		style="border-radius: 5px;">
	 <button id="friends-search-btn" class="btn btn-outline-primary" type="submit">Search</button>
     </form>
   </div>
 </div>
</div>

<button id="friends-list-btn" class="btn btn-primary friends-btn" type="submit">Friends List</button>

<div class="container friends-container">
  <div class="row friends container">
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>

$(document).ready(function() {

    $(document).on('click', 'button', function() {
        if ($(this).hasClass('a')) {
            $(this).toggleClass('a d');
            $(this).toggleClass("btn-primary btn-danger");
            $(this).text('delete');
	    let csrftoken = Cookies.get('csrftoken');
	    console.log('add');
	    let data = {'user': {{user.id}}, 'friend': parseInt(10, this.id), 'cookie': csrftoken};

	    function csrfSafeMethod(method) {
   		 // these HTTP methods do not require CSRF protection
    		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	    $.ajaxSetup({
    		beforeSend: function(xhr, settings) {
        	    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            		xhr.setRequestHeader("X-CSRFToken", csrftoken);
        	    }
    	        }
	    });
	    $.ajax({
		type:'POST',
		url: 'http://localhost:8000/souvenirapp/api/addfriends/' + {{user.id}} + '/' + this.id,
		dataType: 'json',
		contentType: 'application/json',
		data: JSON.stringify(data),
		success: function(data1) {
			console.log(data1);
		},
		error: function (jqXHR, textStatus, errorThrown) {
	        	console.log(jqXHR);
			console.log(textStatus);
			console.log(errorThrown);
		}
	    });
        } else if ($(this).hasClass('d')) {
            $(this).toggleClass('d a');
            $(this).toggleClass("btn-primary btn-danger");
            $(this).text('add');
	    console.log('delete');

	    let csrftoken = Cookies.get('csrftoken');
	    console.log('add');
	    let data = {'user': {{user.id}}, 'friend': parseInt(10, this.id), 'cookie': csrftoken};

	    function csrfSafeMethod(method) {
   		 // these HTTP methods do not require CSRF protection
    		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	    }
	    $.ajaxSetup({
    		beforeSend: function(xhr, settings) {
        	    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            		xhr.setRequestHeader("X-CSRFToken", csrftoken);
        	    }
    	        }
	    });
	    $.ajax({
		type:'DELETE',
		url: 'http://localhost:8000/souvenirapp/api/addfriends/' + {{user.id}} + '/' + this.id,
		dataType: 'json',
		contentType: 'application/json',
		data: JSON.stringify(data),
		success: function(data1) {
			console.log(data1);
		},
		error: function (jqXHR, textStatus, errorThrown) {
	        	console.log(jqXHR);
			console.log(textStatus);
			console.log(errorThrown);
		}
	    });
        }

    });
   $('#friends-search-btn').on('click', function(event){
   event.preventDefault();
   search = $('#friends-search-bar').val();
  $.ajax({
      type: 'GET',
      url: 'http://localhost:8000/souvenirapp/api/friends/' + {{user.id}} + '/' + search,
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
	console.log(data);
        let html = '<ul>';
        for (let i of data) {
          html += '<li style="list-style-type: none;">';
          html += '<article>';
          html += '<h3 user_id = i.id>' + i.username + ": " + i.first_name + " " + i.last_name + '</h3>';
	  html += '<button id="' + i.id + '" type="button" class="a btn btn-primary float-right add-friend" data-toggle="button" aria-pressed="false" autocomplete="off">'+ "ADD" + '</button>';
          html += '</article>';
          html += '</li>';
        }
        html += '</ul>';
        $('.friends').html(html);
        },
      error: function (jqXHR, textStatus, errorThrown) {
        html = '<h1>No data found</h1>';
        $('.results').html(html);
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
    });
  }); 
  
  $('#friends-list-btn').on('click', function(){
  $.ajax({
    type: 'GET',
      url: 'http://localhost:8000/souvenirapp/api/allfriends/' + {{user.id}},
      dataType: 'json',
      contentType: 'application/json',
      success: function (data) {
        let html = '<ul>';
        for (let i of data) {
          console.log(i)
          html += '<li class="listing_friends">';
          html += '<div class="p-3 mb-2 bg- ">';
          html += '<article>';
          html += '<h2 user_id = i.id>' + i.first_name + " " + i.last_name + '</h2>'+ '<h3>' + "@" + i.username + '</h3>';
          html += '<button type="button" id="' + i.id + '" class="d btn btn-danger float-right" data-toggle="button" aria-pressed="false" autocomplete="off">'+ "DELETE" + '</button>';
          html += '</article>';
        html += '</div>';
      html += '</li>';
        }
        html += '</ul>';
      $('.friends').html(html);
      },
      error: function (jqXHR, textStatus, errorThrown) {
        html = '<h1>No data found</h1>';
        $('.results').html(html);
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      }
  });
  });
});
</script>
{% endblock %}
