{% extends 'base.html' %}

{% block title %}Results{% endblock %}

{% block content %}
<div class="row">
   <div class="col-md-12">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'friends' user.id %}">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'trip' user.id %}">View Trips</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'write_review' user.id %}">Review</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'home' %}">Souvenir</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
</div>
   
   <div id="review_title">
     <style>
       body{
       display:block;
       }
       h1 {
       position: relative;
       margin-left: 40px;
       } </style>
     <h1>Add a Review</h1>
   </div>
   <div class="container">
   <form class="search" action="{% url 'addReview' user.id %}" method="POST">
     {% csrf_token %}
     <div class="input-group mb-3">
       <select name="place"
	       class="custom-select" id="inputGroupSelect03"
	       aria-label="Example select with button addon">
	 <option selected="selected">places</option>
	 {% for place in places %}
	 <option value="{{ place.name }}">{{ place.name }}</option>
	 {% endfor %}
       </select>
     </div>
     <div class="input-group mb-3">
       <textarea class="form-control" name="text" value="{{ query }}" class="form-control" placeholder="whats the review" aria-label="Destination" aria-describedby="basic-addon2"></textarea>
     </div>
     <div class="input-group mb-3">
       <select name="rating"
	       class="custom-select" id="inputGroupSelect03"
	       aria-label="Example select with button addon">
	 <option selected="selected">Rating</option>
	 <option value="1">1</option>
	 <option value="2">2</option>
	 <option value="3">3</option>
	 <option value="4">4</option>
	 <option value="5">5</option>
     </select>
     
     <button class="btn btn-outline-primary" type="submit">add</button>
   </form>
   </div>

{% endblock %}
